
    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://www.instagram.com/laviccloset/"><i class="icon ion-social-instagram"></i></a>
                <a href="#"><i class="icon ion-social-twitter"></i></a>
                <a href="https://www.facebook.com/laviccloset"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Produtos</a></li>
                <li class="list-inline-item"><a href="#">Categorias</a></li>
                <li class="list-inline-item"><a href="#">Redes Sociais</a></li>
            </ul>
            <p class="copyright">Lavic Closet © 2021</p>
        </footer>
    </div>
  
</body>

</html>