
{% extends 'home/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-4">
        <div class="col-md-8 col-sm-12 offset-md-0 p-4 text-center">
            <h1>Bem vindo!</h1>
        </div>
    </div>

    <div class="row justify-content-center mt-1">
        <div class="card col-md-9 col-sm-12 offset-md-0 p-4 text-center">
            <h2>Veja nossos Produtos</h2>
            <a href="{% url 'roupas' %}" class="btn btn-outline-primary">Roupas</a>
        </div>
        <div class="card col-md-9 col-sam-12 offset-md-0 p-4 text-center">
            <a href="{% url 'perfumes' %}" class="btn btn-outline-primary">Perfurmes</a>
        </div>
        <div class="card col-md-9 col-sam-12 offset-md-0 p-4 text-center">
            <a href="{% url 'cosmeticos' %}" class="btn btn-outline-primary">Cosméticos</a>
        </div>
        
    </div>
</div>
{% endblock content %}